name: "RuboCop"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  rubocop:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.1

      - name: Install dependencies
        run: bundle install

      - name: Run RuboCop
        run: |
          bash -c "
            bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o rubocop.sarif
            [[ $? -ne 2 ]]
          "

      - name: Upload result
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rubocop.sarif
